table{
	table-layout;
	width: 300px;
	padding: 20px;
}
	 #red{
		text-align: center;
		color:red;	
	}
    #black{
		text-align: center;
		color: black;
	}
#red,#black{
	background-color:gainsboro;
}

#red,#black{
	
	font-size: x-large;
}
td{
	line-height: 30px;
}