h1,h2{
text-align: center;    
}

P{
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
    u.dotted{
    border-bottom: 1px dashed #999;
    text-decoration: none; 
  }
  span{
    color: red;
  }
  table{
    tab-size: 0pt;
  }